.card {
  background-color: white;
  border-radius: 15px;
  border-color: blue;
  color: black;
  padding-bottom: 5px;
  width: 250px;
  margin-right: 5px;
  margin-top: 5px;
}

.cardImg {
  border-radius: 15px 15px 0px 0px;
  width: 200px;
  height: 100px;
}

.cardTitle {
  margin: 10px;
  margin-bottom: 10px;
  font-size: medium;
}

.cardDescription {
  margin-top: 20px !important;
  font-size: 10px;
}

.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
}

.FlexContainer div {
  /* width: 100px;
  height: 100px; */
  margin: 5px;
  /* background-color: lightblue; */
}
