$primary: var(--color-primary-DEFAULT);
$secondary: var(--color-secondary-DEFAULT);

$error: var(--color-error-DEFAULT);
$info: var(--color-info-DEFAULT);
$neutral: var(--color-neutral-DEFAULT);
$qualification: var(--color-qualification-DEFAULT);
$success: var(--color-success-DEFAULT);
$warning: var(--color-warning-DEFAULT);

$font: var(--theme-font-primary);
$font-secondary: var(--theme-font-secondary);
