@import '@library/cenco-ux-components/styles';
@import 'theme/fonts';


body {
  margin: 0;
  font-family: $font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
